<div class="bForm">
<%= form_for @business do |f| %>
  <div class="form-div">
    <%= f.label :name, :class => "splashFont" %><br>
    <%= f.text_field :name, id: 'name_input' %>
  </div>

  <div class="form-div">
    <%= f.label :address, :class => "splashFont" %><br>
    <%= f.text_field :address, id: 'address_input' %>
  </div>

  <div class="form-div">
    <%= f.label :city, :class => "splashFont" %><br>
    <%= f.text_field :city, id: 'city_input' %>
  </div>

  <div class="form-div">
    <%= f.label :state, :class => "splashFont" %><br>
    <%= f.text_field :state, id: 'state_input' %>
  </div>

  <div class="form-div">
    <%= f.label :zip, :class => "splashFont" %><br>
    <%= f.text_field :zip, id: 'zip_input' %>
  </div>

  <div class="form-div">
    <%= f.label :password, :class => "splashFont" %><br>
    <%= f.tpassword_field :password, id: 'password_input' %>
  </div>
  <br>
  <div class="form_div">
    <%= f.submit "Submit", id: 'new_bus', :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'%>
    <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent backButton'>Back</button>
  </div>

<% end %>
</div>
