<%= form_for @business do |f| %>
  <div class="form-div">
    <%= f.label :name %><br>
    <%= f.text_field :name, id: 'name_input' %>
  </div>

  <div class="form-div">
    <%= f.label :address %><br>
    <%= f.text_field :address, id: 'address_input' %>
  </div>

  <div class="form-div">
    <%= f.label :city %><br>
    <%= f.text_field :city, id: 'city_input' %>
  </div>

  <div class="form-div">
    <%= f.label :state %><br>
    <%= f.text_field :state, id: 'state_input' %>
  </div>

  <div class="form-div">
    <%= f.label :zip %><br>
    <%= f.text_field :zip, id: 'zip_input' %>
  </div>

  <div class="form-div">
    <%= f.label :password %><br>
    <%= f.text_field :password, id: 'password_input' %>
  </div>

  <div class="form_div">
    <%= f.submit "Submit" %>
  </div>

<% end %>
