<%= form_for @business, {url: sessions_create_path } do |f| %>
  <div class="form-div">
    <%= f.label :email %><br>
    <%= f.text_field :email, id: 'email_input' %>
  </div>

  <div class="form-div">
    <%= f.label :password %><br>
    <%= f.password_field :password, id: 'password_input' %>
  </div>
  <%= f.hidden_field :is_business, :value => true %>
  <div class="form_div">
    <%= f.submit "Submit", :class => 'busSubmittButton' %>
  </div>

<% end %>
