<%= form_for :customer do |f| %>
  <div class="form-div">
    <%= f.label :email %><br>
    <%= f.text_field :email, id: 'email_input' %>
  </div>

  <div class="form-div">
    <%= f.label :password %><br>
    <%= f.text_field :password, id: 'password_input' %>
  </div>
  <br>
  <div class="form_div">
    <%= f.submit "Submit", :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
  </div>

<% end %>

